---
layout: index
---

<div class="home">
  <picture >
    <source srcset="/assets/glitched_factory_screenshot.webp" type="image/webp">
    <source srcset="/assets/glitched_factory_screenshot.jpg" type="image/jpeg">
    <img class="hero-image" src="/assetsglitched_factory_screenshot.jpg" alt="Glitched Factory screenshot">
  </picture>
  <div class="content">
    <h1 class="post-title">Glitched factory</h1>
    <h2 class="tagline">A free and open source software created to glitch your png images</h2>

    <div class="center">
      <div class="feature-block">
        <h3 class="feature-title">Seven algorithms</h3>
        <p>Seven different alogirithm with their own settings giving you lots of freedom to mess with your images</p>
        <a href="documentation/glitcher/" alt="algorithms documentation" >More →</a>
      </div>

      <div class="feature-block">
        <h3 class="feature-title">Queue</h3>
        <p>Add all you glitch to the queue and enjoy your free time while the job is done by the Glitched Factory</p>
        <a href="documentation/queue" alt="queue documentation" >More →</a>
      </div>
      
      <div class="feature-block">
        <h3 class="feature-title">Sampler</h3>
        <p>Giving you a quick overview of all algorithms effect on your image</p>
        <a href="documentation/sampler" alt="sampler documentation" >More →</a>
      </div>

      <div class="feature-block">
        <h3 class="feature-title">Converter</h3>
        <p>Convert a single jpg images or a directory full of jpg image into png</p>
      </div>
      
      <div class="feature-block">
        <h3 class="feature-title">Folder glitching</h3>
        <p>Glitch easily all png images contained in a folder</p>
        <a href="documentation/glitcher/#input" alt="folder glitching documentation" >More →</a>
      </div>

      <div class="feature-block">
        <h3 class="feature-title">Profiles</h3>
        <p>Save your favorites settings to reuse them quickly</p>
        <a href="documentation/profiles" alt="profiles documentation" >More →</a>
      </div>

      <h2 class="tagline">In action</h2>
      <div class="in-action-block">
        <img class="in-action-image" src="assets/smr.jpg" alt="clip smr jeu d'enfant">
        <h3 class="in-action-title">SMR - Jeu d'enfant </h3>
        <a href="https://www.youtube.com/watch?v=6bHB7E2cTFs">Clip on youtube ➔</a>
      </div>
      <div class="in-action-block">
        <img class="in-action-image" src="assets/red_sun.jpg" alt="clip conceptual red sun">
        <h3 class="in-action-title">CONCEPTUAL - Red Sun</h3>
        <a href="https://www.youtube.com/watch?v=79T8c0vW0ik">Clip on youtube ➔</a>
      </div>
    </div>
  </div>
</div>
