{% assign doc_by_position = site.documentation | sort: "position" %}
<ul>
{% for doc in doc_by_position %}
  <li><a href="{{ doc.url }}" alt="{{ doc.name }}">{{ doc.name }}</a></li>
{% endfor %}
</ul>
