<div class="download-block">
    <img class="os-icon" src="/assets/svg/linux.svg" alt="linux icon">
    <a class="download-link button-link" alt="Glitched Factory linux download link" href="{{ include.link }}">Linux</a>
</div>
