<div class="download-block">
    <img class="os-icon" src="/assets/svg/apple.svg" alt="apple icon">
    <a class="download-link button-link" alt="Glitched Factory osx download link" href="{{ include.link }}">OSX</a>
</div>
