<div class="download-block">
    <img class="os-icon" src="/assets/svg/windows.svg" alt="windows icon">
    <a class="download-link button-link" alt="Glitched Factory windows download link" href="{{ include.link }}">Windows</a>
</div>
