<div class="center example_image">
  <a alt="original image" href="/assets/examples/original/{{ include.image }}.png">
    <picture>
      <source srcset="/assets/examples/{{ include.image }}.webp" type="image/webp">
      <source srcset="/assets/examples/{{ include.image }}.jpg" type="image/jpeg">
      <img src="/assets/examples/{{ include.image }}.jpg" alt="{{ include.name }}">
    </picture>
  </a>
  <div class="center gallery-image-name">{{ include.name }}</div>
</div>
