{% assign doc_by_position = site.documentation | sort: "position" %}
{% assign previous_page = include.current_page.position | minus: 1 %}
{% assign next_page = include.current_page.position | plus: 1 %}

<div class="pagination center">
{% for doc in doc_by_position %}
{% if doc.position == {{previous_page}} %}
<a class="pagination-left-link" href="{{ doc.url }}" alt="{{ doc.name }}">← {{ doc.name }}</a> |
{% endif %}
{% endfor %}

<a class="pagination-center-link" href="{% link documentation.md %}" alt="Documentation index">⌂ Index</a>

{% for doc in doc_by_position %}
{% if doc.position == {{next_page}} %}
| <a class="pagination-right-link" href="{{ doc.url }}" alt="{{ doc.name }}">{{ doc.name }} →</a>
{% endif %}
{% endfor %}
</div>
