@font-face {
    font-family: 'lackregular';
    src: url('../assets/fonts/lack-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/lack-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.shadow {
    box-shadow:
        0 1.7px 5.3px rgba(0, 0, 0, 0.025),
        0 5.6px 10.9px rgba(0, 0, 0, 0.036),
        0 20px 40px rgba(0, 0, 0, 0.07)
    ;
}
.download-block {
    width: 160px;
    display: inline-block;
    margin: 20px;
    text-align: center;
    .os-icon {
        height: 100px;
        width: 160px;
        margin-bottom: 10px;
    }
    .download-link{
        font-size: 26px;
    }
}

.index-page-content{
    background-image:
        url("/assets/glitch.jpg");
    height: 50vh;
    box-shadow: inset 0px 0px 100px rgba(0,0,0,0.9);
    background-attachment: fixed;
}
.site-title {
    font-family: "lackregular";
}
h1, h2, h3 {color: $dark-purple; }
.index-content{
    z-index: 10;
    .home {
        text-align: center;
        .hero-image {
            margin-top: -40vh;
            max-width: 60vw;
            width: 100%;
            border-radius: 3px;
            box-shadow:
                0 4px 2.2px rgba(0, 0, 0, 0.044),
                0 7.5px 5.3px rgba(0, 0, 0, 0.054),
                0 10.8px 10px rgba(0, 0, 0, 0.059),
                0 14.2px 17.9px rgba(0, 0, 0, 0.061),
                0 19.5px 33.4px rgba(0, 0, 0, 0.063),
                0 38px 80px rgba(0, 0, 0, 0.07)
            ;
            @media only screen and (max-width: 600px) {
                max-width: 80vw;
            }
        }
        .in-action-image {
            box-shadow:
                0 0.5px 2.2px rgba(0, 0, 0, 0.034),
                0 1.3px 5.3px rgba(0, 0, 0, 0.047),
                0 2.4px 10px rgba(0, 0, 0, 0.056),
                0 4.2px 17.9px rgba(0, 0, 0, 0.062),
                0 7.9px 33.4px rgba(0, 0, 0, 0.067),
                0 19px 80px rgba(0, 0, 0, 0.07)
            ;
            border-radius: 3px;
            margin-bottom: 10px;
        }
        .content {
            margin: 40px 0;
            .feature-list {text-align: left;}
        }
    }
}
.left {text-align: left; margin-bottom: 30px;}
.right {text-align: right; margin-bottom: 30px;}
.feature-title {margin-bottom: 5px;}
.tagline {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: "lackregular";
    font-size: 1.6em;
    font-weight: bold;
}
.center{text-align: center;}
.example_image{width: 100%; max-width: 450px;display: inline-block;}
.pagination-left-link{margin-right: 10px;}
.pagination-right-link{margin-left: 10px;}
.pagination-center-link{margin: 0 10px;}
.site-header{
    background-color: $dark-purple;
    border-bottom: 1px solid #1c1b1b;
    .site-nav{
        background-color: $dark-purple;
        a {font-size: 18px;}
    }
}
.button-link {
    background-color: $dark-purple;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    margin-top: 10px;
    width: 100%;
    display: inline-block;
            padding: 10px 0;
            
    &:hover {
        background-color: #4a4a4a;
        color: white;
        text-decoration: none;
    }
    &:active {
        background-color: black;
    }
    &:visited {
        background-color: #555;
        color: white;
    }
}
.feature-block {
    width: 25%;
    min-width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 0 2.5% 30px 2.5%;
}
.in-action-block {
    margin-bottom: 40px;
    iframe {
        width: 560px;
        max-width: 100%;
    }
}
.title-wrapper {
    padding-right: 60px;
    padding-left: 60px;
}
h1, h2, h3, .button-link {font-family: lackregular;}
.post-title { text-align: center;}
.gallery-image-name {
    margin-bottom: 40px;
    font-size: 1.1em;
    color: #555;
}
